---
---
<ul class="flex m-0 p-0 list-none mx-auto items-center justify-end flex-wrap me-0">
    <li class="mx-3">
      <a class="text-gray-600 hover:text-black font-mono" href="#">Project</a>
    </li>
    <li class="mx-3">
      <a class="text-gray-600 hover:text-black font-mono" href="#">Works</a>
    </li>
    <li class="mx-3">
      <a class="text-gray-600 hover:text-black font-mono" href="#">About</a>
    </li>
  </ul>