---

---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>

    <body class=" bg-gray-100 px-20 py-5">
        <slot />
    </body>
</html>
